# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
env/
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Django migrations cache (NO borrar migraciones reales, solo basura)
**/migrations/__pycache__/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log